@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}
html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background: transparent;
}
html::-webkit-scrollbar-thumb {
  background: #0eb582;
}

section {
  padding: 5rem 10%;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  border: 2px solid #0eb582;
  background: #f0fdfa;
  color: #0eb582;
  font-size: 15px;
  font-weight: 600;
  border-radius: 5rem;
  cursor: pointer;
  text-transform: capitalize;
}
.btn:hover {
  background: #0eb582;
  color: #ffffff;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background: #ffffff;
  box-shadow: 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 2rem 10%;
  display: flex;
  align-items: center;
  z-index: 1000;
}
.header .logo {
  margin-right: auto;
  font-weight: 800;
  font-size: 2.5rem;
  text-transform: capitalize;
  color: #444444;
}
.header .logo .text {
  font-weight: 300;
  color: #ff6347;
}
.header .logo i {
  margin-right: 0.5rem;
  color: #0eb582;
}
.header .navber #close-navber {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  font-size: 4rem;
  cursor: pointer;
  color: #444444;
  display: none;
}
.header .navber #close-navber:hover {
  transform: rotate(90deg);
}
.header .navber a {
  margin-right: 2rem;
  font-size: 2rem;
  text-transform: capitalize;
  color: #444444;
}
.header .navber a:hover {
  color: #0eb582;
}
.header .icons div {
  cursor: pointer;
  font-size: 2.5rem;
  color: #444444;
  margin-left: 2rem;
}
.header .icons div:hover {
  color: #0eb582;
}
.header #menu-btn {
  display: none;
}

.account-form {
  position: fixed;
  top: 0;
  right: -350px;
  width: 35rem;
  background: #ffffff;
  display: flex;
  flex-flow: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 1rem;
}
.account-form.active {
  right: 0;
  box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
}
.account-form #close-form i {
  position: sticky;
  top: 0;
  right: 0;
  cursor: pointer;
  color: #444444;
  font-size: 3rem;
}
.account-form #close-form i:hover {
  transform: rotate(90deg);
}
.account-form form {
  border: 2px solid #0eb582;
  padding: 2rem;
  text-align: center;
  border-radius: 5px;
  display: none;
}
.account-form form.active {
  display: block;
}
.account-form form h3 {
  font-size: 2.5rem;
  text-transform: capitalize;
  color: #444444;
  padding-bottom: 0.5rem;
  text-transform: uppercase;
}
.account-form form .box {
  width: 100%;
  padding: 1.2rem 1.3rem;
  border: 2px solid #0eb582;
  font-size: 1.6rem;
  margin: 0.7rem 0;
  border-radius: 10px;
}
.account-form form .flex {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.account-form form .flex label {
  font-size: 1.5rem;
  color: #777777;
  cursor: pointer;
}
.account-form form .flex a {
  font-size: 1.5rem;
  color: #777777;
  margin-left: auto;
}
.account-form form .flex a:hover {
  text-decoration: underline;
  color: #0eb582;
}
.account-form form .btn {
  width: 100%;
}
.account-form .button .btn {
  margin-right: 0.8rem;
}
.account-form .button .btn.active {
  background: #0eb582;
  color: #ffffff;
}

.home .slider {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.footer {
  background: #f0fdfa;
}
.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1rem;
}
.footer .box-container .box h3 {
  font-size: 2.2rem;
  text-transform: capitalize;
  color: #444444;
  padding: 1rem 0;
}
.footer .box-container .box h3 i {
  color: #0eb582;
  margin-right: 0.8rem;
}
.footer .box-container .box .share {
  margin-top: 1rem;
}
.footer .box-container .box .share a {
  width: 4rem;
  height: 4rem;
  padding: 0.5rem 0.8rem;
  line-height: 4.5rem;
  font-size: 1.8rem;
  background: #0eb582;
  color: #ffffff;
  margin-right: 0.3rem;
  text-align: center;
  border-radius: 1rem;
}
.footer .box-container .box .share a:hover {
  background-color: #444444;
}
.footer .box-container .box .link {
  font-size: 1.5rem;
  line-height: 2;
  color: #777777;
  padding: 0.5rem 0;
  display: block;
}
.footer .box-container .box .link:hover {
  color: #0eb582;
  text-decoration: underline;
}
.footer .box-container .box p {
  font-size: 1.5rem;
  line-height: 2;
  color: #777777;
  padding: 1rem 0;
}
.footer .box-container .box .email {
  width: 100%;
  padding: 1.2rem 1.4rem;
  font-size: 1.6rem;
  border: 2px solid #0eb582;
  margin-bottom: 1rem;
  border-radius: 10px;
}
.footer .credit {
  text-align: center;
  margin-top: 3rem;
  padding-top: 3rem;
  font-size: 1.3rem;
  text-transform: capitalize;
  color: #444444;
  border-top: 2px solid #0eb582;
}
.footer .credit span {
  color: #0eb582;
}

@media (max-width: 1200px) {
  .header {
    padding: 2px 5%;
  }
  section {
    padding: 3rem 5%;
  }
}
@media (max-width: 991px) {
  html {
    font-size: 55%;
    padding: 2rem;
  }
  section {
    padding: 3rem 2rem;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 40%;
  }
  .header #menu-btn {
    display: inline-block;
  }
  .header .navber {
    position: fixed;
    top: 0;
    right: -105%;
    width: 30rem;
    background: #ffffff;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding-right: 1rem;
    z-index: 1200;
  }
  .header .navber #close-navber {
    display: block;
  }
  .header .navber.active {
    box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
    right: 0;
  }
  .header .navber a {
    display: block;
    margin: 1rem;
    text-align: center;
    font-size: 3rem;
    background: #0eb582;
    border-radius: 10px;
  }
  .header .navber a:hover {
    color: #ffffff;
  }
}
@media (max-width: 500px) {
  html {
    font-size: 55%;
  }
}/*# sourceMappingURL=style.css.map */